/* GENERAL  */
body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  padding: 10px;
  background-color: azure;
}

.grid {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
}

/* HEADER INDEX */
header {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 33% 30% 36%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.envio {
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px;
}

.envio p {
  margin: 0px;
}

.camion {
  width: 30px;
}

.encabezado {
  grid-column: 1/4;
  margin: 3px 0px 0px 10px;
  background-image: url('../images/bienvenidos.png');
  background-size: cover;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.horarios {
  grid-column: 1/4;
  background-image: url('../images/horarios.jpg');
  background-size: cover;
  height: 380px;
  border-radius: 20px;
}

.jugueteria {
  grid-column: 1/4;
  background-image: url('../images/jugueteria.png');
  background-size: cover;
  height: 135px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  height: 100px;
}

.logo-img {
  height: 300px;
  position: relative;
  bottom: 150px;
}

.logo-img:hover {
  opacity: 0.5;
}

.titulo {
  margin: 5px 0;
  height: 100px;
  text-align: center;
}

.btnMenu {
  float: right;
  position: relative;
  top: 20px;
  left: 60px;
  width: 40px;
  aspect-ratio: 1/1;
  display: none;
  cursor: pointer;
}

.line {
  width: 100%;
  background-color: black;
  height: 5px;
  border-radius: 10px;
}

.menuDesktop {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.menuDesktop a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  text-align: start;
  padding: 7px 7px;
  background-color: transparent;
  margin: 1.5px;
  border-radius: 5px;
  border: 2px solid black;
}

.menuMobile {
  width: 280px;
  position: absolute;
  top: 270px;
  right: -4500px;
  box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.3);
  display: none;
  transition: all 0.3s;
  font-family: 'Times New Roman', Times, serif
}

.menuMobile a {
  display: block;
}

.menuMobileOpen {
  right: 60px;
}

/* CONTENIDO INDEX*/
.scroll {
  position: fixed;
  /* permite el desplazamiento de la web */
  bottom: 20px;
  right: 20px;
  background-color: #FFFFFF;
  border-radius: 100%;
  padding: 10px;
}

.scroll img {
  width: 25px;
}

.buscadorynav {
  background-color: #ff0081;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
}

.buscadortxt {
  padding: 15px;
  border-radius: 5%;
}

.buscadorimg {
  width: 30px;
}

input {
  border-radius: 1%;
  color: #ff0081;
}

button {
  cursor: pointer;
}

.metodos {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 15px auto;
}

.metodo {
  text-align: center;
  margin: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.icono {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

main {
  grid-column: 1/4;
  margin: 10px;
}

.grid-container {
  margin: 20px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% auto;
}

.grid-item {
  display: grid;
  grid-template-columns: 50% auto;
  overflow: hidden;
}

.grid-item {
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: Arial, sans-serif;
  margin: 3px;
}

.grid-item:hover,
.caja:hover {
  background-color: lightcoral;
  color: white;
}

.grid-item h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.arte {
  background-color: #0047AB;
}

.armas {
  background-color: #8C52FF;
}

.autos {
  background-color: #FFB700;
}

.bebotes {
  background-color: #DA70D6;
}

.bloques {
  background-color: #FF5757;
}

.cocina {
  background-color: #00FFFF;
}

.didacticos {
  background-color: #FF00FF;
}

.herramientas {
  background-color: #00FF00;
}

.juegos {
  background-color: #FF6347;
}

.maquillaje {
  background-color: #FF4500;
}

.musicales {
  background-color: #FFD700;
}

.muñecas {
  background-color: #EE82EE;
}

.muñecos {
  background-color: #40E0D0;
}

.peluches {
  background-color: #00C853;
}

.valijas {
  background-color: #ADFF2F;
}

.vehiculos {
  background-color: #FA8072;
}

/* CONTENIDO NOSOTROS */
.catalogo {
  background-color: #00C3FF;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

.destacados {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contenedor {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 10px 0px 10px 0px;
}

.caja {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 20% 20%;
  gap: 10px;
  color: rgb(45, 45, 45);
  height: auto;
  width: auto;
  background-color:transparent;
  border-radius: 5%;
  border: 1px solid black;
  margin: 3px;
  text-align: center;
  border: 1px solid black;
  padding: 25px;
  cursor: pointer;
}

.tituloproducto,
.fechaproducto {
  grid-column: 1/3;
}
.tituloproducto{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
}

.espaciado {
  margin: 5px;
}


.texto {
  grid-column: 1/4;
  background-color: #ff0081;
  text-align: center;
  border-radius: 10px;
  color: white;
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botones {
  display: flex;
  justify-content: center;
}

.botones button {
  font-size: large;
}

/* CONTENIDO PRODUCTOS */
table {
  border: 2px solid black;
  text-align: center;
}

.tabla {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
}

td,
th {
  border: 0.5px solid black;
  padding: 10px;
  font-size: x-large;
}

hr {
  margin: 30px;
}

.grid3 {
  display: flex;
  justify-content: center;
}

#mensajenoresultado {
  background-color: aquamarine;
  text-align: center;
  border-radius: 10px;
  color: black;
  padding: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.oculto {
  display: none;
}

.visible,
.visible2 {
  display: block;
}

.visible2 {
  display: flex;
}

.ingresar {
  margin: 10px;
  border: 1px solid black;
  padding: 20px;
  text-align: start;
}

.ingresar label {
  cursor: pointer;
}

button {
  text-decoration: none;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 7px 7px;
  background-color: transparent;
  border-radius: 5px;
  margin: 3px;
  border: 2px solid black;
}

.pregunta {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}

.preguntaP {
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: Arial, sans-serif;
  margin: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.respuestaP {
  display: none;
  color: #fffbfb;
  font-size: 16px;
}

.respuesta {
  display: none;
  padding: 10px;
  border-top: 2px solid #ddd;
  color: #666;
  font-size: 16px;
}

.pregunta:hover .respuesta,
.grid-item:hover .preguntaP .respuestaP {
  display: block;
  cursor: pointer;
}

/* FOOTER */
.footer {
  grid-column: 1/4;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 20px;
  text-align: center;
}

li {
  color: white;
  text-align: start;
  margin: 30px;
}

.footer h4 {
  color: #FFFFFF;
  border-bottom: 2px solid #00C3FF;
  padding-bottom: 10px;
  display: inline-block;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  margin-bottom: 15px;
}

.footer ul li a {
  text-decoration: none;
  margin-bottom: 15px;
  color: white;
}

a:hover,
.footer ul li a:hover,
.footer ul li:hover,
button:hover{
  color: red;
  padding-left: 10px;
  transition-duration: 0.1s;
  cursor: pointer;
}

/* media */
@media (max-width: 1220px) {

  .encabezado,
  .horarios {
    height: 300px;
  }

  .jugueteria {
    height: 115px;
  }

  .logo-img {
    height: 260px;
    bottom: 140px;
    right: -20px;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 15px;
  }

  td,
  th {
    padding: 7px;
    font-size: large;
  }
  .tituloproducto{
    font-size: large;
  }

}

@media (max-width: 970px) {

  .encabezado,
  .horarios {
    height: 220px;
  }

  .jugueteria {
    height: 95px;
  }

  .logo-img {
    height: 240px;
    bottom: 120px;
    right: 10px;
  }

  .btnMenu {
    display: grid;
  }

  .menuDesktop {
    display: none;
  }

  .menuMobile {
    display: block;
    background-color: yellow;
    top: 320px;
  }

  table {
    font-size: small;
  }

  .tabla button {
    font-size: x-small;
  }

  .grid-item {
    grid-template-columns: 30% auto;
  }

  .grid-item img {
    width: 100px;
  }

  .grid3 {
    grid-template-columns: auto;
  }

  .botones {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: medium;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .contenedor {
    grid-template-columns: 33% 33% 33%;
  }

  a {
    text-decoration: none;
    color: black;
    padding: 10px;
  }

  a:hover {
    color: red;
    padding-left: 8px;
    transition-duration: 0.2s;
  }
  .tituloproducto{
    font-size: medium;
  }
}

@media (max-width: 760px) {

  .encabezado,
  .horarios {
    height: 180px;
  }

  .jugueteria {
    height: 75px;
    grid-column: 1/2;
  }

  .titulo p {
    display: none;
  }

  .logo-img {
    height: 200px;
    bottom: 120px;
    right: 10px;
  }

  .menuMobile {
    top: 270px;
  }

  .contenedor {
    grid-template-columns: 50% 50%;
  }

  td,
  th {
    font-size: medium;
    padding: 3px;
  }

  .metodos {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 40px;
  }

  .footer {
    grid-template-columns: auto;
  }

  .footer .texto {
    grid-column: 1/2;
  }
  .catalogo{
    font-size: large;
  }
}

@media (max-width: 600px) {

  .encabezado,
  .horarios {
    height: 110px;
  }

  .jugueteria {
    height: 55px;
  }

  .logo-img {
    height: 150px;
    bottom: 70px;
  }

  .menuMobile {
    top: 200px;
  }

  .grid-item img {
    width: 70px;
  }

  .grid-item {
    grid-template-columns: 25% auto;
  }

  td,
  th {
    font-size: small;
    padding: 0px;
  }

  .ingresar {
    margin: 5px;
    padding: 10px;
  }

  .footer {
    grid-template-columns: auto;
  }

}

@media (max-width: 430px) {

  .encabezado,
  .horarios {
    height: 70px;
  }

  .jugueteria {
    display: none;
  }

  .logo-img {
    height: 100px;
    bottom: 30px;
  }

  .menuMobile {
    top: 170px;
  }

  .grid-item img {
    width: 40px;
  }

  .grid-item {
    grid-template-columns: 25% auto;
  }

  td,
  th {
    font-size: xx-small;
    padding: 0px;
    margin: 0px;
    gap: 0px;
  }

  .ingresar {
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 0px;
  }

  .tabla button {
    padding: 2px;
    font-size: xx-small;
    border: 1px solid black;
  }
}

@media (max-width: 320px) {
  body {
    display: none;
  }
}